/************* MediaQuery *************/
@media (min-width: 1300px) {
  .aboutme ul li {
  }
}
@media (max-width: 1300px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  .main .right p {
    font-size: 3em;
  }
  .main .right div {
    font-size: 1.3em;
  }
  .aboutme ul li {

  }
  /* .aboutme h3 {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    margin: 0;
  } */
  .aboutme ul {
  }
}
@media (max-width: 1024px) {
  .about2 {
    padding:20px 0;
  }
  .card {
    width: 50%;
  }
  .main .bg-box span {
    width: 14%;
    height: 20%;
  }
  .main .bg-box span:nth-child(1){
    height: 20%;
  }
  .main .bg-box span:nth-child(2) {
    height: 20%;
  }
  .main .bg-box span:nth-child(4) {
    width: 20%;
    left: 12%;
  }
  header nav {
    
  }
  .gnb {
    display: none;
    background-color: #fff;
    position: absolute;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.219);
    /* right: calc(-100% - 60px); */
    transition: 0.5s;
    /* padding-top: 100px; */
    /* flex-basis: auto; */
    flex-direction: column;
    justify-content: center;
  }
  
  .gnb a {
    display: block;
    color: #000;
  }
  .gnb.active {
    display: flex;
    right: 0;
  }
  .gnb a {
    height: auto;
    padding: 22px 8px;
  }
  /* Trigger */
  .trigger {
    display: flex;
  }
  .trigger.active {
    color: #000;
  }
  .Skill .card {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .main .right {
    height: 300px;
    padding: 30px 0;
  }
  .container.type02 {
    flex-direction: column;
  }
  .aboutme .list {
    aspect-ratio: initial;
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  body.active {
    overflow: hidden;
  }
  .myslider {
    width: 100%;
  }
  .main .right p {
    font-size: 2em;
  }
  .card {
    width: 100%;
    display: inline-block;
  }
  .Skill .card {
    width: 100%;
  }
  .container {
      margin: 0 auto;
      text-align: center;
  }
  /* Overlay */
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .about2 .container {
    flex-wrap: wrap;
  }
  .Portfolio .modal-notice {
    width: 88%;
    height: 100%;
  }
  
}