/* Fontawesome 4.7 */
/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */


/* XEICON CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Font */
@font-face {
  font-family: "Luckiest Guy";
  src: local("Luckiest Guy"), local("Luckiest Guy"),
    url("/font/LuckiestGuy-Regular.ttf");
  font-weight: bold;
}
* {
  font-family: 'Pretendard-Regular', sans-serif;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
    color: #222;
}
body,h1,h2,h3,h4,h5,p {
  margin: 0;
}
p, button {
  padding: 0;
}
body, p, ul {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
    color: #222;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
html.active {
  overflow: hidden;
}
img {
  width: 100%;
}
input, button {
  outline: none;
}
/************* Font *************/
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/************* Scroll *************/
/* ::-webkit-scrollbar { width: 8px;}
::-webkit-scrollbar-thumb { background: #636C78;}
::-webkit-scrollbar-track { background: #E5E4E4;} */

.wrap {
  margin: auto;
}
section { 
  margin: auto;
  margin-bottom: 100px;
  box-sizing: border-box;
}
section:last-of-type {
  margin-bottom: 0;
}
h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  line-height: 1.6em;
  text-transform: uppercase;
}
.container {
  display: flex;
  max-width: 1700px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container.type02 {
}

/* Overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.overlay.active {
  pointer-events: all;
  opacity: 0;
  visibility: visible;
}

/************* Header *************/
header {
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transition: transform .5s ease-out;
}
header .inner {
    position: relative;
    display: flex;
    width: calc(100% - 60px);
    max-width: 1783px;
    height: 100px;
    background-color: transparent;
    align-items: end;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.3s;
}
header .logo {
  padding-left: 20px;
}
header .logo a {
  color:#fff;
  font-size: 40px;
}
header.dark {
  padding: 0;
  background: #000;
}
header.dark .inner {
  background: #000;
  width: 100%;
  height: 70px;
  border-radius: 0;
  padding: 10px;
  margin: 0;
  align-items: center;
}
header.dark .logo {}
header.dark .logo a {
  color: #fff;
}
header.dark .gnb a {
}
header.dark .gnb a.active {
  color: crimson;
}
.gnb {
    /* flex: 1 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100px;
}
.gnb a {
    width: 85px;
    margin: 0 20px;
    padding: 22px 8px;
    height: inherit;
    display: inline-block;
    position: relative;
    color:#fff;
    font-size: 20px;
    text-align: center;
}
.gnb a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: crimson;
  height: 2px;
  width: 0;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.gnb a:hover:before,
.gnb a.active:before {
  width: 100%;
}
.gnb a.active {
  color:crimson;
}


/* Trigger */
.trigger {
  display: none;
  cursor: pointer;
  color:#eee;
  position: absolute;
  bottom:0;
  right:50px;
  font-size: 28px;
}
header.dark .trigger {
  color:#fff;
  top: 19px;
}
header.dark .trigger.active {
  color:#000;
}
/************* Slider *************/
.myslider {
    width: 100%;
    margin: auto;
    height: 100vh;
}
.myslider div {
    background: #ddd;
    font-size: 30px;
    box-sizing: border-box;
    height: inherit;
}
.myslider div img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.myslider .slick-arrow {
  z-index: 10;
  width: 50px;
  height: 50px;

}
.myslider .slick-arrow::before {
  font-family: fontawesome;
  opacity: 0.3;
  font-size: 50px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-prev::before {
  content: "\f053";
}
.slick-next::before {
  content: "\f054";
}


/* BG Video */
.main {
  display: block;
  height: calc(100vh - 60px);
  margin: 30px;
  padding: 0;
  background: #636c78;
  border-radius: 10px;
  position: relative;
}
.main .container { 
  height: 100%;
}
.main .bg-box {}
.main .bg-box span {
  position: absolute;
  width: 200px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 0 2px #222;
}
.main .bg-box span:nth-child(1) {
  height: 400px;
  top: 200px;
  left:-30px;
  background: url(../images/bg-box1.jpg) no-repeat 0 0 / 100% 100%;
  border-radius: 0 30px 30px 0;
}
.main .bg-box span:nth-child(2){
  top: 450px;
  right:-30px;
  background: url(../images/bg-box2.jpg) no-repeat 0 0 / 100% 100%;
  border-radius: 30px 0 0 30px;
}
.main .bg-box span:nth-child(3){
  width: 300px;
  height: 200px;
  right: 6%;
  bottom:30px;
  background: url(../images/bg-box3.jpg) no-repeat 0 0 / 100% 100%;
}
.main .bg-box span:nth-child(4){
  width: 210px;
  height: 110px;
  left: 10%;
  bottom:0;
  transform: rotate(360deg);
  background: url(../images/bg-box4.jpg) no-repeat 0 0 / 100% 100%;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 17px -7px #222;
}


.main .video {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
  aspect-ratio: auto 1/1;
  display: none;
}
.main .right {
  color:#fff;
}
.main .right p {
  margin-bottom: 50px;
  font-size: 80px;
}
.main .right span {
  color: #FED7E1;
}
.main .right div {
  width: 100%;
  line-height: 1.5;
  font-size: 24px;
}
.video-frame {
  height: 100%;
  min-height: 100%;
}

.video-frame video {
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  height: 100%;
}
.video .text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 900;
  font-family: sans-serif;
  mix-blend-mode: multiply;
  user-select: none;
  font-size: 17rem;
  width: 100%;
  word-wrap: break-word;
  font-family: 'Luckiest Guy';
}

/* AboutMe */
.aboutme {
  /* background: transparent linear-gradient(90deg, #2D55D6 0%, #DB3885 100%) 0% 0% no-repeat padding-box; */
}
.aboutme .container {
}
/* .aboutme .container:before {
  content: "";
  position: absolute;
  width: 55.5rem;
  height: 82rem;
  left: 0;
  top: 0;
  background: url(../images/about-bg.png) 0 0/100% no-repeat;
  animation: rotate 15s infinite linear;
  opacity: 0.2;
} */
.aboutme .item {
  display: flex;
  width: 100%;
  flex: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutme .item-img {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.aboutme .item-img img {
  width: 100%;
}
.aboutme .item p {
  position: relative;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.aboutme .item p:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -10px;
  height: 15px;
  background: #e581bd;
  opacity: 0.5;
  right: -12px;
}
.aboutme .item .birth {
  font-size: 20px;
}
.aboutme .list {
  flex: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.aboutme .list-item {
  flex: 1;
}
.aboutme ul {
  padding: 0 10%;
  margin-bottom: 40px;
}
.aboutme ul:last-of-type {
  margin-bottom: 0;
}
.aboutme ul li {
  color: #0a033c;  
  font-size: 1em;
  overflow: hidden;
}
.aboutme ul .date {
  color:#828792;
  float: right;
}
.aboutme h3 {
  font-size: 1.5em;
  padding: 0 10%;
  margin-bottom: 20px;
}

/************* Portfolio *************/
.Portfolio .modal-notice {
  display: inline-block;
  width: 300px;
  height: 250px;
}
.Portfolio .modal-notice img {
  width: 100%;
  margin-bottom: -3px;
}
.Portfolio .container {
  justify-content: space-evenly;
}
.port {
  display: inline-block;
  margin: 30px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px 0px rgba(232,239,242,.5);
  border: 1px solid #f1f4f5;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

/************* About *************/
.about2 {
  box-sizing: border-box;
  overflow: hidden;
}
.card {
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 373px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  box-sizing: border-box;
}
.card img {
  width: 150px;
}
.card .content {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: inherit;
  transition: 0.5s;
  text-align: center;
  padding: 20px;
  padding-top: 205px;
  color:#222;
  box-sizing: border-box;
}
.card .content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}
.card .content p {
  font-size:16px;
}
/* .card:hover .card .content {
  top:0;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.21);
} */
/* .card .sns a {
  border: 1px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color:#fff;
  font-size: 13px;
} */
/* .card:nth-child(2) .card .content {
  background: linear-gradient(to top, dodgerblue, transparent);
}
.card:nth-child(3) .card .content {
  background: linear-gradient(to top, yellowgreen, transparent);
} */


/************* Skill *************/
.Skill .container {
  display: flex;
  flex-wrap: wrap;
}
.Skill .card {
  width: 30%;
  height: 256px;
  border-radius: 0;
}
.Skill .card .content {
  position: static;
  top:0;
  left: 0;
  height: inherit;
  transition: 0.5s;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  color:#222;
  box-sizing: border-box;
}

.Skill .card:hover .card .content {
  top:0;
}
.Skill .card:hover {
  transform: none;
  box-shadow: none;
}
.Skill .card .content h3 {
  width: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
}
.Skill .tit {
  width: 100%;
  height: 110px;
  position: relative;
  margin-bottom: 10px;
}
.Skill .tit::before {
  content: '';
  display: inline-block;
  width: 110px;
  height: inherit;
  border-radius: 50%;
  border: 6px solid #00BCD4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

/************* Modal *************/
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top:0;
  left: 0;
  display: none;
  z-index: 10;
}
.modal.active {
  display: block;
}
.modal-content {
  width: 90%;
  max-width: 1440px;
  height: 80%;
  position: absolute;
  padding: 10px 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
  animation: slidefade 0.35s linear;
  overflow: hidden;
}
.modal-item {  
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px 0;
  height: 92%;
}
.modal-item::-webkit-scrollbar { width: 8px;}
.modal-item::-webkit-scrollbar-thumb { background: #636C78;}
.modal-item::-webkit-scrollbar-track { background: #E5E4E4;}
.modal-item .container {
  overflow-y: auto;
  height: 100%;
}
.modal-header {
  padding: 15px 0;
}
.modal-header h4 {
  font-size: 20px;
}
.btn-close {
  position: absolute;
  top: 11px;
  right: 13px;
  background-color: transparent;
  border: none;
  font-size: 35px;
  color: #999;
  cursor: pointer;
  outline: none;
}
.btn-close:hover {
  color: #000;
}
.modal-content h4 {
  font-size: 30px;
}
.modal-content img {
  max-width: 73%;
}
.modal-content p {
  margin-bottom: 30px;
}
.btn-guide {
  background: #000;
  color:#fff;
  padding: 10px;
  width: 300px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

/************* Tab *************/
.tab-inner {
  margin: 50px 20px;
}
.tab-btn {
  text-align: center;
}
.tab-btn a {
  color:#fff;
  background: #000;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 15px;
  margin-right: -2px;
  border-top: 3px solid transparent;
  transition: 0.3s;
}
.tab-btn a.active {
  background: #fff;
  color:royalblue;
  border-top: 3px solid royalblue;
}
.tab-btn a:hover {
  color: royalblue;
}
.tab-content {
  position: relative;
  overflow: hidden;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: #fff;
  padding: 25px;
  transition: 0.3s;
}
.tab .modal-notice {
  color: #222;
}
.tab h2 {
  margin-top: 0;
  text-transform: uppercase;
}
.tab p {}
.tab img {
  width: 100%;
}
.tab:target {
  opacity: 1;
  visibility: visible;
}
.tab:nth-child(1) {
  opacity: 1;
}

/* Wow */
.parent {
  border: 1px solid #000;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}
.parent div {
  float: left;
  border: 3px solid red;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
}
.parent .bg {
  position: relative;

}
/* .parent .bg:after {
  content: '';
  background: #000;
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.045;

} */
.ltr {
  animation: ltr 1s linear both;
}
.rtl {
  animation: rtl 1s linear both;
}
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}






/************* Keyframes *************/
@keyframes slidefade{
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}