/* Fontawesome 4.7 */
/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */


/* XEICON CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Font */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Luckiest Guy";
  src: local("Luckiest Guy"), local("Luckiest Guy"),
    url("/font/LuckiestGuy-Regular.ttf");
  font-weight: bold;
  unicode-range: U+0020-007E;
}
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@font-face {
  font-family: 'Tilt Prism';
  src: url('/font/TiltPrism-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/* Common */
* {
  font-family: 'Pretendard-Regular', 'Luckiest Guy', sans-serif;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
    color: #222;
    letter-spacing: -0.3px;
}
body,h1,h2,h3,h4,h5,p,blockquote {
  margin: 0;
}
p, button {
  padding: 0;
}
body, p, ul {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
    color: #222;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
html.active {
  overflow: hidden;
}
img {
  width: 100%;
}
input, button {
  outline: none;
}
.fa,.fab,.fad,.fal,.far,.fas{
	font-weight: 900 !important;
}

/************* Scroll *************/
.wrap {
  margin: auto;
}
section { 
  margin: auto;
  margin-bottom: 50px;
  padding: 0 30px;
  box-sizing: border-box;
}
h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.6em;
  text-transform: uppercase;
}
.container {
  display: flex;
  max-width: 1700px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Overlay */
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.overlay.active {
  pointer-events: all;
  opacity: 0;
  visibility: visible;
}

/************* Header *************/
header {
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  height: 65px;
}
header .logo {
  padding-left: 20px;
}
header .logo a {
  color:#6e6e6e;
  font-size: 20px;
  font-family: 'Pacifico';
}
header.dark {
  padding: 0;
  background: #000;
}
header.dark .nav {
  background: #000;
  height: 70px;
  padding: 10px;
  align-items: center;
}
header.dark .logo {}
header.dark .logo a {
  color: #fff;
}

header.dark .gnb a.active {
  color: crimson;
}
.gnb {
    /* flex: 1 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100px;
    transition: 0.3s;
}
.gnb a {
    width: 85px;
    margin: 0 20px;
    padding: 22px 8px;
    height: inherit;
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.gnb a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: crimson;
  height: 2px;
  width: 0;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: 0.5s;
}
.gnb a:hover:before,
.gnb a.active:before {
  width: 100%;
}
.gnb a.active {
  color:crimson;
}

/* Trigger */
.trigger {
  display: none;
  cursor: pointer;
  color:#eee;
  flex-direction: column;
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 22px;
  padding-right: 20px;
}
.line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 4px;
}
header.dark .trigger {
  color:#fff;
}
header.dark .line {
  background: #fff;
}
header.dark .trigger.active .line {
  background:#000;
}
/************* Slider *************/
.myslider {
    width: 100%;
    margin: auto;
    height: 100vh;
}
.myslider div {
    background: #ddd;
    font-size: 30px;
    box-sizing: border-box;
    height: inherit;
}
.myslider div img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.myslider .slick-arrow {
  z-index: 10;
  width: 50px;
  height: 50px;

}
.myslider .slick-arrow::before {
  font-family: fontawesome;
  opacity: 0.3;
  font-size: 50px;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-prev::before {
  content: "\f053";
}
.slick-next::before {
  content: "\f054";
}

/* BG Video */
.main {
  display: block;
  background: #343a40;
  position: relative;
}
.main .container { 
  height: 100%;
  padding: 2%;
  padding-top: 65px;
  box-sizing: border-box;
}

.main .bg-box {
  display: none;
}
.main .bg-box span {
  position: absolute;
  width: 200px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 0 2px #222;
}
.main .bg-box span:nth-child(1) {
  height: 400px;
  top: 200px;
  left:-30px;
  background: url(../images/bg-box1.jpg) no-repeat 0 0 / 100% 100%;
  border-radius: 0 30px 30px 0;
}
.main .bg-box span:nth-child(2){
  top: 450px;
  right:-30px;
  background: url(../images/bg-box2.jpg) no-repeat 0 0 / 100% 100%;
  border-radius: 30px 0 0 30px;
}
.main .bg-box span:nth-child(3){
  width: 300px;
  height: 200px;
  right: 6%;
  bottom:30px;
  background: url(../images/bg-box3.jpg) no-repeat 0 0 / 100% 100%;
}
.main .bg-box span:nth-child(4){
  width: 210px;
  height: 110px;
  left: 10%;
  bottom:0;
  transform: rotate(360deg);
  background: url(../images/bg-box4.jpg) no-repeat 0 0 / 100% 100%;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 17px -7px #222;
}
.main-img {
}
.main .right {
  text-align: left;
}
.main .right p {
  margin-bottom: 50px;
  font-size: 50px;
  color:#fff;
}
.main .right span {
  color: #FED7E1;
}
.main .right div {
  width: 100%;
  line-height: 1.5;
  font-size: 15px;
  color:#f8f9fa;
}
.video-frame {
  height: 100%;
  min-height: 100%;
}

.video-frame video {
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  height: 100%;
}
.video .text {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000;
  color: #fff;
  font-weight: 900;
  font-family: sans-serif;
  mix-blend-mode: multiply;
  user-select: none;
  font-size: 17rem;
  width: 100%;
  word-wrap: break-word;
  font-family: 'Luckiest Guy';
}

/* AboutMe */
.aboutme {
}
.aboutme .container {
  justify-content: space-evenly;
}
.aboutme .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutme .item-img {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.aboutme .item-img img {
  display: block;
  width: 100%;
}
.aboutme .item p {
  position: relative;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
}
.aboutme .item p:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -10px;
  height: 15px;
  background: #e581bd;
  opacity: 0.5;
  right: -12px;
}
.aboutme .item .birth {
  font-size: 20px;
}
.aboutme .list {
  flex: 2;
  display: flex;
  text-align: left;
  max-width: 500px;
}
.aboutme .list-item {
  flex: 1;
}
.aboutme ul {
  margin-bottom: 40px;
}
.aboutme ul:last-of-type {
  margin-bottom: 0;
}
.aboutme ul li {
  color: #0a033c;  
  font-size: 1.2em;
  overflow: hidden;
  line-height: 2em;
}
.aboutme ul .date {
  color:#828792;
  float: right;
}
.aboutme h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #17a2b8;
  font-weight: 600;
}

/************* Portfolio *************/
.Portfolio h2 {
  margin-bottom: -2%;
}
.Portfolio .container {
  display: block;
  overflow: hidden;  
}
.port {
  margin: 6% 2%;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px 0px rgba(232,239,242,.5);
  border: 1px solid #f1f4f5;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  width: 29%;
  max-height: 400px;
  position: relative;
}
.Portfolio .modal-notice {
  display: block;
  padding-left: 40px;
  box-sizing: border-box;
}
.Portfolio .text {
  position: absolute;
  left: 0;
  writing-mode: vertical-rl;
  font-family: 'Tilt Prism', cursive;
  font-size: 30px;
}
.Portfolio .modal-notice img {
  display: block;
  width: 100%;
  height: 100%;
}
.port-box-hover {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.port-box-hover a {
  color:#fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  background: #141414;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}
.port-box-hover div {
  position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
}
.port:hover .port-box-hover {
  visibility: visible;
  opacity: 1;
}
.mockup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
  flex-wrap: wrap;
}
.mobile-mockup {
  border: 1px solid #eee;
  width: 430px;
  height: 850px;
  position: relative;
  border-radius: 30px;
  background-color: #eee;
  overflow: hidden;
}
.mobile-mockup:before {
  content: '';
  position: absolute;
  width: 97.5%;
  height: 98.5%;
  border-radius: 27px;
  box-shadow: 0 0 3px rgba(178, 178, 178, 0.29);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.iframe-url {
  /*border: 1px solid red;*/
  position: absolute;
  width: 100%;
  height: 680px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-btn {
  border: 1px solid #ddd;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.home-btn:before {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px #606060 inset;
  border-radius: 50%;
}
.camera {
  position: absolute;
  width: 400px;
  height: 70px;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
}
.camera span {
  position: absolute;
  background-color: #555;
}
.camera span:nth-child(1) {
  width: 80px;
  height: 6px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.camera span:nth-child(2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
.camera span:nth-child(3) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 130px;
}
.volume {
/*  border: 1px solid red;*/
  position: absolute;
  width: 6px;
  height: 150px;
  right: calc(100% - 1px);
  top: 82px;
}
.volume span,
.power span {
  background-color: #ddd;
  position: absolute;
  width: 100%;
  height: 40px;
  border-radius: 4px 0 0 4px;
}
.volume span:nth-child(1) {
  top: 0;
  height: 25px;
}
.volume span:nth-child(2) {
  bottom: 50px;
}
.volume span:nth-child(3) {
  bottom: 0;
}
.power {
  /*border: 1px solid red;*/
  position: absolute;
  width: 6px;
  height: 40px;
  top: 82px;
  left: 100%;
}
.power span {
  transform: rotateY(180deg);
}

.iframe-url iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
}

/************* About *************/
.about2 {
  box-sizing: border-box;
  overflow: hidden;
}
.card {
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 373px;
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  box-sizing: border-box;
}
.card img {
  width: 120px;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 23px;
}
.card .content {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: inherit;
  transition: 0.5s;
  text-align: center;
  padding: 20px;
  padding-top: 165px;
  color:#222;
  box-sizing: border-box;
}
.card .content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}
.card .content p {
  padding: 0 50px;
  font-size:16px;
}

/************* Skill *************/
.Skill .container {
  align-items: start;
}
.Skill .row {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.Skill .card {
  width: 30%;
  height: auto;
  border-radius: 10px;
  background: #fff;
  margin: 20px;
  box-sizing: border-box;
}
.Skill .card .content {
  position: static;
  top:0;
  left: 0;
  height: inherit;
  transition: 0.5s;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  color:#222;
  box-sizing: border-box;
}

.Skill .card:hover .card .content {
  top:0;
}
.Skill .card:hover {
  transform: none;
  box-shadow: none;
}
.Skill .card .content h3 {
  width: 90px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
}
.Skill .tit {
  width: 100%;
  height: 110px;
  position: relative;
  margin-bottom: 10px;
}
.Skill .tit::before {
  content: '';
  display: inline-block;
  width: 110px;
  height: inherit;
  border-radius: 50%;
  border: 6px solid #00BCD4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

/************* Modal *************/
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top:0;
  left: 0;
  display: none;
  z-index: 10;
}
.modal.active {
  display: block;
}
.modal-content {
  width: 97%;
  max-width: 1440px;
  height: 80%;
  position: absolute;
  padding: 10px 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.325);
  animation: slidefade 0.35s linear;
  overflow: hidden;
  padding-top: 67px;
}
.modal-item {  
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px 5%;
  height: 100%;
}
.modal-item::-webkit-scrollbar { width: 8px;}
.modal-item::-webkit-scrollbar-thumb { background: #636C78;}
.modal-item::-webkit-scrollbar-track { background: #E5E4E4;}
.modal-item .container {
  overflow-y: auto;
  height: 100%;
}
.modal-header {
  padding: 15px 32px 15px 0;
}
.modal-header h4 {
  font-size: 20px;
}
.btn-close {
  position: absolute;
  top: 11px;
  right: 13px;
  background-color: transparent;
  border: none;
  font-size: 35px;
  color: #999;
  cursor: pointer;
  outline: none;
}
.btn-close:hover {
  color: #000;
}
.modal-content h4 {
  position: absolute;
  top: 13px;
  left: 18px;
  right: 47px;
  font-size: 26px;
}
.modal-content img {
  max-width: 73%;
}
.modal-content p {
  margin-bottom: 30px;
}
.btn-guide {
  background: #000;
  color:#fff;
  padding: 10px;
  width: 300px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

/************* Tab *************/
.tab-inner {
  margin: 50px 20px;
}
.tab-btn {
  text-align: center;
}
.tab-btn a {
  color:#fff;
  background: #000;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 15px;
  margin-right: -2px;
  border-top: 3px solid transparent;
  transition: 0.3s;
}
.tab-btn a.active {
  background: #fff;
  color:royalblue;
  border-top: 3px solid royalblue;
}
.tab-btn a:hover {
  color: royalblue;
}
.tab-content {
  position: relative;
  overflow: hidden;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  background-color: #fff;
  padding: 25px;
  transition: 0.3s;
}
.tab .modal-notice {
  color: #222;
}
.tab h2 {
  margin-top: 0;
  text-transform: uppercase;
}
.tab p {}
.tab img {
  width: 100%;
}
.tab:target {
  opacity: 1;
  visibility: visible;
}
.tab:nth-child(1) {
  opacity: 1;
}

/* Wow */
.parent {
  border: 1px solid #000;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}
.parent div {
  float: left;
  border: 3px solid red;
  width: 50%;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
}
.parent .bg {
  position: relative;

}
.ltr {
  animation: ltr 1s linear both;
}
.rtl {
  animation: rtl 1s linear both;
}
/* Top button */
aside {
  position: fixed;
  bottom:4%;
  right:2%;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: #fc6060;
  text-align: center;
  border-radius: 50%;
  z-index: 1000;
}
aside a {
  display: block;
  color:#fff;
  font-size: 14px;
}
/* Epilogue */
.tco-svg {
  display: block;
  width: 3em;
  height: 3em;
  font-size: 1em;
  fill: currentColor;
  stroke: none;
}
.Epilogue-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
/* Foooter */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}



/************* Keyframes *************/
@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidefade{
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}