<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namyang.nyorder.cmmc.dao.RcbodMapper">

	<select id="selectRcbodList" parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO" resultType="com.namyang.nyorder.cmmc.vo.RcbodVO">
	/* rcbod-Mapper - selectRcbodList 자료실 리스트 조회*/
		SELECT 
				RM.RCBOD_SEQ, 
				RM.RCBOD_SUB,
				RM.REG_DTM,
				RM.USE_YN
		FROM 	T_RCBOD_MST 	RM
		INNER
		JOIN 	T_RCBOD_DTL		RD
		ON		RM.RCBOD_SEQ = RD.RCBOD_SEQ
		<where>
			AND	RM.USE_YN = 'Y'
			<if test="@com.namyang.nyorder.util.MyBatisCmpr@isNotEmpty(srcType)">
				<choose>
					<when test='srcType == "title" '>
						AND RM.RCBOD_SUB like '%'+#{srcKeyword}+'%'
					</when>
					<when test='srcType == "content" '>
						AND ( 	AGEN_CD		like '%'+#{srcKeyword}+'%'
								OR PRD_NM 	like '%'+#{srcKeyword}+'%'
								OR QTY 		like '%'+#{srcKeyword}+'%'
								OR CONSGE 	like '%'+#{srcKeyword}+'%'
								OR ADDR 	like '%'+#{srcKeyword}+'%'
						)
					</when>
					<when test='srcType == "all" '>
						AND ( 	RM.RCBOD_SUB 	like '%'+#{srcKeyword}+'%'
								OR RD.AGEN_CD 	like '%'+#{srcKeyword}+'%'
								OR RD.PRD_NM 	like '%'+#{srcKeyword}+'%'
								OR RD.QTY 		like '%'+#{srcKeyword}+'%'
								OR RD.CONSGE 	like '%'+#{srcKeyword}+'%'
								OR RD.ADDR 		like '%'+#{srcKeyword}+'%'
						)
					</when>
				</choose>
			</if>
		</where>
		GROUP BY RM.RCBOD_SEQ, RM.RCBOD_SUB, RM.REG_DTM, RM.USE_YN
		ORDER BY REG_DTM DESC
	</select>


	<select id="selectRcbodDtlList" parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO" resultType="com.namyang.nyorder.cmmc.vo.RcbodVO">
	/* rcbod-Mapper - selectRcbodDtlList 자료실 상세보기 리스트 조회*/
		SELECT 
			  trd.RCBOD_SEQ
			, trd.RCBOD_DTL_SEQ
			, trd.AGEN_CD
			, trd.AGEN_SEQ
			, trd.INVC
			, trd.PRD_NM
			, trd.QTY
			, trd.CONSGE
			, trd.ADDR
		FROM 
		T_RCBOD_DTL trd
		WHERE 1=1
		AND trd.USE_YN = 'Y'
		AND trd.RCBOD_SEQ = #{rcbodSeq}
		ORDER BY ORDR ASC
	</select>

	<insert id="insertRcbodMst" parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO"> 
	/* rcbod-Mapper - insertRcbodMst T_RCBOD_MST */
		<selectKey keyProperty="rcbodSeq" resultType="String" order="BEFORE"> SELECT NEXT VALUE FOR SQ_RCBOD AS RCBOD_SEQ</selectKey>
		INSERT INTO T_RCBOD_MST
		(
			RCBOD_SEQ,
			RCBOD_SUB,
			USE_YN,
			REG_DTM,
			REG_SEQ
		)
		VALUES
		(
			#{rcbodSeq},
			#{rcbodSub},
			'Y',
			CURRENT_TIMESTAMP,
			#{admSeq}
		)
	</insert>

	<insert id="insertRcbodDtl" parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO">
		/* rcbod-Mapper - insertRcbodDtl T_RCBOD_MST */
		
		INSERT INTO T_RCBOD_DTL
		(
			RCBOD_DTL_SEQ,
			RCBOD_SEQ,
			AGEN_CD,
			AGEN_SEQ,
			INVC,
			PRD_NM,
			QTY,
			CONSGE,
			ADDR,
			ORDR,
			USE_YN,
			REG_DTM,
			REG_SEQ
		)
		VALUES
		(
			NEXT VALUE FOR SQ_RCBOD_DTL,
			#{rcbodSeq},
			#{agenCd},
			#{agenSeq},
			#{invc},
			#{prdNm},
			#{qty},
			#{consge},
			#{addr},
			#{ordr},
			'Y',
			CURRENT_TIMESTAMP,
			#{admSeq}
		)
	</insert>

	<!-- 대리점 코드 리스트 -->	
	<select id="selectAgenList"  parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO" resultType="com.namyang.nyorder.cmmc.vo.RcbodVO">
		SELECT 
			AGEN_SEQ,
			AGEN_CD 
		FROM
			T_AGEN_MST
		WHERE
			AGEN_USE_YN = 'Y'
	</select>

	<!-- 자료실 - 삭제 -->
	<update id="delRcbod" parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO">
		/* rcbod-Mapper - delRcbod  */
		UPDATE T_RCBOD_MST
		SET USE_YN = 'N',
			UPD_DTM = CURRENT_TIMESTAMP,
			UPD_SEQ = #{admSeq}
		WHERE RCBOD_SEQ = #{rcbodSeq}
	</update>

		<!-- 자료실 - 상세 삭제 -->
	<update id="delRcbodDtl" parameterType="com.namyang.nyorder.cmmc.vo.RcbodVO">
		/* rcbod-Mapper - delRcbodDtl  */
		DELETE FROM	T_RCBOD_DTL
		WHERE RCBOD_SEQ = #{rcbodSeq}
	</update>
	
</mapper>